.example-card {
    max-width: 800px;
    border:0.1em lightgray solid;

    margin: 20px 10px 10px;

   
  }
  
  .example-header-image {
    background-image: url('/assets/avatar1.png');
    background-size: cover;
  }