<!-- <mat-card-title style="font-weight: 300; margin: em ">Please click on the links below to learn more.

</mat-card-title>

<div>

 <img src="assets/learn-more.png" style="width: auto;height: 10em"> -->
<!-- </div>




<div style="border: 4px solid #ffd151; margin: 100px; padding: 10px ;padding-bottom: 50px; "> --> 

    <mat-accordion>
        <div style="margin:50px">
    <h1 style="margin: 0 auto; text-align: center;font-size: large; font-weight: 800;"> “I’M STILL LEARNING.”   –MICHELANGELO</h1>
    <hr style="width: 50%;">
    </div>
    
    
    <div style=" margin: 60px; padding: 10px ;padding-bottom: 50px; ">
        <div style="text-align:center; font-size: 40em; margin-top: 10px;">
            <h2 style="font-weight: 300;">Please Click On the Links Below to Learn More</h2>
           
        </div>
    <mat-expansion-panel style="margin-top: 100px; width: 80em;">
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500; font-size: large; text-align: center; margin-left:350px">
                    Angular
                </mat-panel-title>
                <mat-panel-description>
    
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-list role="list">
                <mat-label>1. Angular</mat-label>
                <mat-list-item role="listitem">
                    <a href="https://angular.io/" target="_blank">https://angular.io/</a>
                </mat-list-item>
                <mat-label>2. Angular Blog</mat-label>
                <mat-list-item role="listitem"><a href="https://blog.angular.io/" target="_blank">https://blog.angular.io/</a>
                </mat-list-item>
                <mat-label>3. Angular Material</mat-label>
                <mat-list-item role="listitem"><a href="https://material.angular.io/" target="_blank">https://material.angular.io/</a>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500; font-size: large; text-align: center; margin-left:335px">
                    JavaScript
                </mat-panel-title>
                <mat-panel-description>
    
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-list role="list">
                <mat-label>1. Converting from speech to text with javascript</mat-label>
                <mat-list-item role="listitem"><a
                        href="https://tutorialzine.com/2017/08/converting-from-speech-to-text-with-javascript"
                        target="_blank">https://tutorialzine.com/2017/08/converting-from-speech-to-text-with-javascript</a>
                </mat-list-item>
                <mat-label>2. Image zoom library with vanilla javascript</mat-label>
                <mat-list-item role="listitem"><a
                        href="https://tutorialzine.com/2017/08/image-zoom-library-with-vanilla-javascript"
                        target="_blank">https://tutorialzine.com/2017/08/image-zoom-library-with-vanilla-javascript</a>
                </mat-list-item>
                <mat-label>3. Handle mouse and touch input with the pointer events  api</mat-label>
                <mat-list-item role="listitem"><a
                        href="https://tutorialzine.com/2017/04/handle-mouse-and-touch-input-with-the-pointer-events-api"
                        target="_blank">https://tutorialzine.com/2017/04/handle-mouse-and-touch-input-with-the-pointer-events-api</a>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500; font-size: large; margin-left:350px">
                    NodeJS
                </mat-panel-title>
                
                <mat-panel-description>
    
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <mat-list role="list">
    
                <mat-label>1. Mastering async await in nodejs </mat-label>
                <mat-list-item role="listitem"><a
                        href="https://blog.risingstack.com/mastering-async-await-in-nodejs/"
                        target="_blank">https://blog.risingstack.com/mastering-async-await-in-nodejs/</a>
                </mat-list-item>
                <mat-label>2. Nodejs and good practices</mat-label>
                <mat-list-item role="listitem"><a
                        href="https://blog.codeminer42.com/nodejs-and-good-practices-354e7d763626/"
                        target="_blank">https://blog.codeminer42.com/nodejs-and-good-practices-354e7d763626/</a>
                </mat-list-item>
                <mat-label>3. Worker threads nodejs</mat-label>
                <mat-list-item role="listitem"><a
                        href="https://nodesource.com/blog/worker-threads-nodejs/"
                        target="_blank">https://nodesource.com/blog/worker-threads-nodejs/</a>
                </mat-list-item>
        
            </mat-list>
        </mat-expansion-panel>
        <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel> -->
    
    
    
    </div>
    
    </mat-accordion>